<form class="form-submit form-horizontal" name="myForm" ng-submit="submit()">

	<div class="form-group">
		<label class="control-label col-lg-3" for="transport_mode">Student</label>
		<div class="col-lg-4">
			<input type="text" placeholder="First Name" class="form-control" />
		</div>
		<div class="col-lg-4 col-lg-offset-1">
			<input type="text" placeholder="Last Name" class="form-control" />
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-lg-3" for="transport_mode">Transportation Mode</label>
		<div class="col-lg-9">
			<select class="form-control" name="transport_mode" ng-model="form.transport" ng-options="mode as mode for mode in modes">
			</select>
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-lg-3" for="transport_line">Transportation Line</label>
		<div class="col-lg-9">
			<select class="form-control" name="transport_line" ng-model="form.transport_line" ng-options="route.route_id as route.route_name for route in route_array | filter : form.transport">
			</select>
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-lg-3" for="inbound">Inbound/Outbound</label>
		<div class="col-lg-9">
			<select class="form-control" name="inbound" ng-model="form.inbound" ng-options="direction as direction for direction in directions">
			</select>
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-9 col-lg-offset-3">
			<button type="submit" class="btn btn-primary pull-right">Submit</button>
		</div>
	</div>
</form>